h1 {
    color: green;
    text-align: center;
    padding: 10px;
}

h2 {
    color: darkslateblue;
    text-align: center;
    padding: 10px;
}

label {
    text-align: center;
    color: darkgray;
    padding: 10px

}

p {
    text-align: center;
    color: darkgreen;
    padding: 10px;
}
